@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>

    @if (ViewBag.UserName != null)
    {
        <p>Hello, @ViewBag.UserName!</p>
    }
    else
    {
        <p>Welcome to the University Management System!</p>
    }

</div>